<% layout('layout/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h3 class="alert-heading mb-2">
                    <b>Error:</b>
                </h3>
                <p class="mb-2">
                    <%= err.message %>
                </p>
                <hr class="mb-2">
                <p class="mb-0 ">
                    Status code: <%= err.statusCode %>
                </p>
            </div>
        </div>
    </div>